@import "custom";

h1 {
  font-family: 'Funky Juice', sans-serif;
  font-size: 3rem; 
}

h2 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  width: 100%;
  flex: 1 0 auto;
  padding: 1rem;
  margin: 10px 0 10px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

header, .navbar { 
  width: 100%; 
}

.navbar {
  position: relative;
  padding: 0;
  width: 100%;
  flex-shrink: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  display: block;
}

.brand-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .brand-center {
    position: static;
    transform: none;
    margin: 0 auto;
  }
}

.right-tools .nav-link {
  padding: 0.25rem 0;
}

.nav-link {
  font-family: 'cormorant Garamond', serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: $font-color;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.navbar-nav .nav-link {
  padding: 0.45rem 0.75rem;
}

.navbar-collapse {
  justify-content: flex-start;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar li {
  font-family: 'Cormorant Garamond', sans-serif;
  color: $font-color;
  font-size: 1.4rem;
  font-weight: bold;
}

footer {
  flex-shrink: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer .container-fluid {
  max-width: 1600px;
}

.logo-footer {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

footer h5 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

footer p, footer small {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 2px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}



// SIGNUP & SIGNIN PAGES
.form-label{
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}

.signup-submit{
  margin-top: 20px;
  align-content: center;
  display: flex;
}
.signup-submit .cta:before{
  background-color: $primary;
}
.redirect-signin, .redirect-signup {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.passwordNeeds{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  margin: 0 0 0 5px;
}

.form-control{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

.form-box {
  margin-bottom: 20px;
}

.signin-form-input, .signup-form-input {
  max-width: 700px;
  margin: 0 auto;
}


// HOME PAGE
