@import "custom";

h1 {
    font-family: 'Funky Juice', sans-serif;
}

h2 {
    font-family: 'Cormorant Garamond', sans-serif;
}

h3 {
    font-family: 'Cormorant Garamond', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}